.limayyNavbar {
  background-color: #000;

  position: relative;
  display: flex;
  width: 100vw;
  padding: 16px 64px;
  justify-content: space-between;
  align-items: center;
}

.limayyNavbarRoutes {
  display: flex;
  align-items: center;
  gap: 24px;
}

.limayyNavbarLinks,
.limayyNavbarSocials {
  display: inline-block;
  list-style: none;
}


.limayyNavbarLinks li {
  display: inline-block;
  margin: 0 24px;

  color: rgb(var(--foreground-inverted-rgb));
}


.limayyNavbarSocials li {
  display: inline-block;
  margin: 0 16px;

  color: rgb(var(--foreground-inverted-rgb));
}